.company-description-modal {
    border-style: solid !important;
    border-color: #e5e7eb !important;
}


.company-description-modal:hover {
    border-style: solid !important;
    border-color: black !important;
}

.company-description-modal:focus, .company-description-modal:active {
    border-style: solid !important;
    border-color: #427adb !important;
}

